* {
	margin: 0;
	padding: 0;
}

	

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 800px;
    margin: 0 auto;
    border: 20px solid rgba(248, 154, 66, 0.87);
	background-color: #461911;
	color: rgba(248, 154, 66, 0.87);
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 8px solid rgba(248, 154, 66, 0.87);
	background-color: #461911;
}
header h2 {
	font-size: 300%;
	color: rgba(248, 154, 66, 0.87);
}
header h3 {
	font-size: 130%;
	font-style: italic;
	margin-left: 2in;
}
header img {
	float: left;
	padding: 0 30px;
	background-color: #461911;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: rgba(248, 154, 66, 0.87);
    color: #800000;
    font-weight: bold;
}
#nav_menu a.current {
	color: #461911;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* the styles for the main content */
main {
	clear: left;
}
/* the styles for the section */
section {
	font-size: 125%;
    margin: 5%;
    width: 500px;
    float: left;
	
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;               /* If you remove this, the margins in normalize.css will be applied. */
}
section h2 {
	color: rgba(248, 154, 66, 0.87);
	font-size: 175%;
    padding: .5em 0 .25em 0;
    width: 515px;
    float: left;
}
section p {
    padding-bottom: .5em;
    font-size: 125%;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
}
section li {
	padding-bottom: .35em;
}
section image {
	float: none;
}

/* the styles for the article */
article {
	padding: .5em 0;
	border-top: 2px solid rgba(248, 154, 66, 0.87);
	border-bottom: 2px solid rgba(248, 154, 66, 0.87);
	font-size: 150%;
}
article h2 {
	padding-top: 0;
}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
article img {
	float: right;
	margin-bottom: 2em;
	border: 5px solid rgba(248, 154, 66, 0.87);
}

aside { 
	float: right;
    width: 215px;
    font-size: 175%;
}
#coupons {
    width: 25%;
    float: left;
}
/* the styles for the footer */
footer {
	background-color: rgba(248, 154, 66, 0.87);
	clear: both;

}
footer p {
	text-align: center;
	color: #461911;
	padding: 1em 0;
}
